.button {
  color: var(--white-color);
  padding: 15px;
  border-radius: 10px;
  background: var(--blue-color);
  min-width: 100px;
  transition: all 0.5s;
}

.button:hover {
  background: var(--dark-blue-color);
}

.button:disabled {
  background: var(--light-gray-color);
  color: var(--gray-color);
  cursor: auto;
}
