:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --light-gray-color: #f1f1f1;
  --light-blue-color: #5995ed;
  --blue-color: #003f81;
  --dark-blue-color: #003063;
  --pink-color: #fadbda;
  --gray-color: #737373;
  --light-blue-color: #ecf1f7;
  --red-color: #d70000;
}
