:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --light-gray-color: #f1f1f1;
  --light-blue-2-color: #5995ed;
  --blue-color: #003f81;
  --dark-blue-color: #003063;
  --pink-color: #fadbda;
  --gray-color: #737373;
  --light-blue-color: #ecf1f7;
  --red-color: #d70000;
  --pink-dark-color: #ffcdcb;
  --gray-dark-color: #5b5b5b;
  --light-blue-3-color: #e4effd;
}
