.footer {
  background: var(--blue-color);
  padding: 25px 0;
  color: var(--white-color);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left-side p {
  display: flex;
  align-items: center;
  gap: 3px;
}

.right-side {
  text-align: right;
}

@media (max-width: 400px) {
  .footer-content {
    flex-direction: column-reverse;
  }

  .left-side {
    align-items: center;
    gap: 5px;
  }

  .right-side {
    text-align: center;
    margin-bottom: 15px;
  }
}
