.list-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 30px;
}

.list-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 30px;
}

@media (max-width: 800px) {
  .list-4 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
  }
}

@media (max-width: 600px) {
  .list-2,
  .list-4 {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
  }
}
