.loginForm-wrapper {
  width: 350px;
  display: grid;
  gap: 100px;
}

.loginForm-inputs {
  display: grid;
  gap: 30px;
}

.loginForm-submit {
  display: flex;
  justify-content: center;
}

.error {
  background: var(--pink-color);
  color: var(--red-color);
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .loginForm-wrapper {
    width: 100%;
  }

  .loginForm-wrapper {
    gap: 50px;
  }
}
