.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 35px;
  column-gap: 60px;
}

@media (max-width: 800px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 15px;
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
